.select-title {
    display: block;
    font-size: 1.1em;
    margin-bottom: 0.5rem;
    margin-top: 0.6rem;
}

.select {
    background-color:var(--table-bg);
    border: 0.15em solid var(--input-bg);
    font-size: 1em;
    padding: 0.2em 0.5em;
    border-radius: 0.5rem;
    font-weight: 200;
}