

.popup-container {
    --animation-length: 0.08s;
    --color-change-length: 2s;

    position: fixed;
    z-index: 15;
    left: 30%;
    top: 1rem;
    min-width: calc(50% - (30% / 2) - (0.5rem / 2));

    background-color: var(--accent);
    color: var(--table-bg);
    font-family: 'Sora', sans-serif;

    border-radius: 1rem;
    padding: 0.7rem 0.5rem;
    text-align: center;
    animation:var(--animation-length) ease-out slidedown;
}

.popup-container.fading {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

@keyframes slidedown {
    from  {
        transform: translateY(calc(-100% - 1rem));
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}