.download-button {
    grid-column-start:6;
    justify-self:center;
    height:2.7rem;
    width:2.7rem;
    border-radius: 0.5rem;
    
    background-color:var(--accent);
    border:unset;
    overflow:hidden;
}

.download-button:hover {
    filter:brightness(0.9);
}