.name-list {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.name-cell {
    border: 1px solid grey;
    display: inline-block;
    padding:0.7em;
    width:10em;
    text-align:center;
    margin: 0.2em 0;
}

.name-cell:hover{
    filter:brightness(1.2);
    cursor: pointer;
}

.name-cell:active {
    filter:brightness(1.1);
}