.edit-button {
    width:4rem;
    height:4rem;
    overflow:hidden;
    padding: 1em;
    border:unset;
    border: 1px solid grey;
    border-radius: 1000px;

    z-index:10;

    position:fixed;
    right:2rem;
    bottom:2rem;
}

.edit-button:hover {
    filter:brightness(1.2)
}

.edit-button:active{
    filter:brightness(0.9);
}