.form-control {
    grid-row-start: 1;
    grid-row-end:6;
    grid-column-start: 1;
    grid-column-end: 6;
    /* margin: 0 1rem; */
    /* display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5,1fr); */
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100%;

}

/* .form-control label, .form-control textarea, .update-button {
    grid-column: 1/6;
    
} */

.form-control label {
    margin-top:2rem;
    display:block;
    width:60vw;
    font-size: 1.1em;
    /* grid-row-start: span 1; */
}

.form-control textarea {
    margin-top:1rem;
    box-sizing: border-box;
    width:60vw;
    border:unset;
    border-radius:0.5rem;
    padding:0.5rem;
    background-color: var(--input-bg);
    display:block;
    /* grid-row-start: span 2; */

}

.form-control textarea::placeholder {
    color:var(--text-placeholder);
}

.update-button {
    /* max-width: 6rem; */
    margin-top:1.5rem;
    background-color:transparent;
    padding:0.5rem 0.8rem;
    border-radius:0.8rem;
    border:unset;
    background-color:var(--input-bg);
    height:3.5rem;
    width:3.5rem;
    /* grid-row-start: 4; */
}

.update-button-icon {
    stroke:var(--text-muted);
}

.update-button:active {
    filter:brightness(110%)
}


