
.outer-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column-reverse;
    /* grid-template-columns: repeat(6, 1fr); */
    height: 100%;
    width:100%;
    z-index:3;
    pointer-events:none;
}

.name-menu {
    /* grid-column-start:1;
    grid-column-end:6; */
    min-height: 15rem;
    max-height: 45%;

    display:grid;
    grid-template-columns: repeat(6, 1fr);

    background-color: #314657;
    border: 1px solid white;
    pointer-events:auto;
}



.toggle-button {
    height:3rem;    
    width:3rem;
    overflow:hidden;
    border-radius: 1000px;
    grid-column-start:6;
    margin-top:1rem;
}

