.form-control {
    grid-row-start: 1;
    grid-row-end:6;
    grid-column-start: 1;
    grid-column-end: 6;
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100%;

}

.form-control label {
    margin-top:2rem;
    display:block;
    width:60vw;
    font-size: 1.1em;
}

.form-control textarea {
    margin-top:1rem;
    box-sizing: border-box;
    width:60vw;
    border:unset;
    border-radius:0.5rem;
    padding:0.5rem;
    background-color: var(--input-bg);
    display:block;

}

.form-control textarea::placeholder {
    color:var(--text-placeholder);
}

.update-button {
    margin-top:1.5rem;
    background-color:transparent;
    padding:0.5rem 0.8rem;
    border-radius:0.8rem;
    border:unset;
    background-color:var(--input-bg);
    height:3.5rem;
    width:3.5rem;
}

.update-button-icon {
    stroke:var(--text-muted);
}

.update-button:active {
    filter:brightness(110%)
}


