
.tables-container {
    grid-column: 1 / 7;
    grid-row-start:2;
    grid-row-end: span 11;
    display:flex;
    flex-direction:column;
    align-items:center;
    overflow:scroll;
    padding-bottom:100%;
}

.main-table {
    margin-bottom:1rem;
}

.main-table td {
    border:  1px solid grey;
    width: 7rem;
    padding: 0.4em 0.7em;
}

.main-table td:nth-child(1) {
    width:unset;
}

.main-table th {
    border:  1px solid grey;
    width: 7rem;
    padding: 0.4em 0.7em;
}

.clear-table-button {
    height:3rem;
    width:3rem;
    background-color: transparent;
    border:unset;
}
